@import "mocha.css";

* {
  font-family: 'Noto Sans';
  font-size: 1.25rem;
  font-weight: 500;
}

#waybar {
  background-color: transparent;
  color: @text;
}

#workspaces button {
  color: @overlay2;
  background: alpha(@surface0, 0.45);
  border-radius: 0px;
  margin: 10px 0px 5px 0px;
  min-width: 30px;
  padding: 0px 4px;
}

#workspaces button:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 14px;
}

#workspaces button:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 14px;
}

#workspaces button label {
  font-weight: bold;
  font-size: 1.1rem;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.urgent {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button:hover {
  border-color: @surface0;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-caffeine,
#custom-dunst,
#custom-powermenu{
  padding: 0px 20px;
  margin: 10px 0px 5px 0px;
  color: @crust;
}


#custom-launcher {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 25px 0px 20px;
  margin: 10px 0px 5px 20px;
  background-color: alpha(@surface0, 0.45);
  color: @text;
}

#cpu {
  background-color: alpha(@surface0, 0.45);
  color: @lavender;
}

#memory {
  background-color: alpha(@surface0, 0.45);
  color: @blue;
}

#temperature {
  color: @sapphire;
  background-color: alpha(@surface0, 0.45);
}

#backlight {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: @sky;
  background-color: alpha(@surface0, 0.45);
}

#pulseaudio {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 20px 0px 25px;
  background-color: alpha(@surface0, 0.45);
  color: @teal;
}

#network {
  padding: 0px 20px 0px 25px;
  background-color: alpha(@surface0, 0.45);
  color: @green;
}

#battery {
  color: @yellow;
  background-color: alpha(@surface0, 0.45);
}

#clock {
  color: @peach;
  background-color: alpha(@surface0, 0.45);
}

#custom-caffeine {
  background-color: alpha(@surface0, 0.45);
  color: @flamingo;
}

#custom-powermenu {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 25px 0px 20px;
  margin: 10px 20px 5px 0px;
  color: @maroon;
  background-color: alpha(@surface0, 0.45);
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

